/*** Fonts + Global
–––––––––––––––––––––––––––––––––––––––––––– ***/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Red+Hat+Display:500,900&display=swap');

h2 {
  margin: 0 0 5px 4%;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  color: #FFA430;
}
h3 {
  margin: 0 0 30px 5%;
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

a, a:hover {
  color: inherit;
  text-decoration: none;
}

#topape {
  color: #FF7F5D;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  letter-spacing: 6px;
  float: left;
  align-items: center;
  display: flex;
}

.display-4 {
  color: #424242;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 2px;
  /* margin-bottom: 10%; */
  margin-bottom: 8%;
  margin-right: 3%;
  animation: slideInDown 1s forwards;
}

.boldape {
  color: #FF7F5D;
}

.orangewords {
  color: #FFA430;
}

.yellow {
  color: #FFCC30;
}

.red {
  color: #FF5C30;
}

.worklabels {
  margin-top: 15px;
  color: #424242;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}
#workname {
  font-weight: bold;
}
.worklabels i {
  font-size: 12px;
}

p {
  opacity: 0;
  animation: slideInDown 1s forwards;
  animation-delay: 1s;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}
@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(50%); 
  }
  100% {
    opacity: 1;
    transform: none; 
  } 
}

#copyright {
  color: rgba(0,0,0,.5);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 10px 0 30px 0;
}


/*** Header + Navbars
–––––––––––––––––––––––––––––––––––––––––––– ***/
.navbar, .navbar-light {
  padding: 1% 10%;
  border-bottom: #ebebeb 1px solid;
  background-color: #ffffff;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 15px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
  color: #FF7F5D;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #FFB75D;
}

.navbar-light .navbar-nav .nav-link.active {
  color:#FFB75D;
}

.main {
  width: 100vw;
  height: 75vh;
  padding: 10% 10% 0% 10%;
}


/*** Home + Work Content
–––––––––––––––––––––––––––––––––––––––––––– ***/
.cont {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.button {
  width: 10%;
  margin-left: 5%;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 10px;
  background-color: #ffffff;
  color: #FF7F5D;
  border: 1px solid #FF7F5D;
}
.button:hover {
  cursor: pointer;
  /* background-color: #424242; */
  background-color: #FF7F5D;
  color: #ffffff !important;
}

.gallery {
  width: 100%;
}

.gallery2 {
  width: 100%;
  margin-top: 100px;
}

.galleryrow {
  height: 400px;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin-top: 30px;
}

.galleryslot {
  width: 100%;
  padding: 10px;
}
.galleryslotw {
  width: 100%;
  padding: 10px;
}

#layout1 {
  -ms-flex: 60%;
  flex: 60%;
}
#layout2 {
  -ms-flex: 40%;
  flex: 40%;
  
}
#layout3 {
  -ms-flex: 50%;
  flex: 50%;
}
#layout4 {
  -ms-flex: 33%;
  flex: 33%;
}
#layout5 {
  -ms-flex: 100%;
  flex: 100%;
}

#logoimage {
  background-image: url(/images/Logo.svg);
  width: 2.5em;
  height: 2.5em;
  background-size: contain;
  background-repeat: no-repeat;
  float: left;
  margin-right: 1em;
}

#logoimagegif {
  float: left;
  margin-right: 1em;
}

.images:hover {
  opacity: 0.8; 
  transition: ease-in 0.2s;
  cursor: pointer;
}

#image1 {
  width: 100%;
  height: 90%;
  background-image: url(/images/bychloecruz_pin.jpg);
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
}
/* #image1:hover {
  background-image: url('/images/bychloecruz_makeup_packaging_back.jpg');
} */

#image2 {
  width: 100%;
  height: 90%;
  background-image: url(/images/coast_fraser_product_guide.jpg);
  background-position: center; 
  background-size: cover;
}
/* #image2:hover {
  background-image: url('/images/coast_fraser_product_guide_products_side.jpg');
} */

#image3 {
  width: 100%;
  height: 90%;
  background-image: url(/images/JAJA_website_login.png);
  background-position: center; 
  background-size: cover;
}
/* #image3:hover {
  background-image: url('/images/JAJA_website_start.png')
} */

#image4 {
  width: 100%;
  height: 90%;
  background-image: url(/images/gdragon_digital_painting_with_bg.jpg);
  background-position: center; 
  background-size: cover;
}
/* #image4:hover {
  background-image: url('/images/gdragon_digital_painting2.png');
} */

#image5 {
  width: 100%;
  height: 90%;
  background-image: url('/images/musical_magic_opening.jpg');
  background-position: center; 
  background-size: cover;
}
/* #image5:hover {
  background-image: url('/images/musical_magic_drstrange.jpg');
} */

#image6 {
  width: 100%;
  height: 90%;
  background-image: url('/images/coast_fraser_product_video_02.jpg');
  background-position: center; 
  background-size: cover;
}
/* #image6:hover {
  background-image: url('/images/coast_fraser_product_video_01.jpg');
} */

/*** Illustrations ***/

#ill1 {
  width: 100%;
  height: 90%;
  background-image: url(/images/pfpsis.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
}
#ill2 {
  width: 100%;
  height: 90%;
  background-image: url(/images/blondegirl.JPG);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
}
#ill3 {
  width: 100%;
  height: 90%;
  background-image: url(/images/pfpwill.jpg);
  background-position: center; 
  background-size: cover;
  cursor: default;
}
#ill4 {
  width: 100%;
  height: 90%;
  background-image: url(/images/huion.jpg);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
}
#ill5 {
  width: 100%;
  height: 90%;
  background-image: url(/images/floatingcouple.jpg);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
}
#ill6 {
  width: 100%;
  height: 90%;
  background-image: url(/images/sketchhand.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
}
#ill7 {
  width: 100%;
  height: 90%;
  background-image: url(/images/sketchgirl.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
}
#ill8 {
  width: 100%;
  height: 90%;
  background-image: url(/images/sketchprincess.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
}
#ill9 {
  width: 100%;
  height: 90%;
  background-image: url(/images/pfpcaro.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
}
#ill10 {
  width: 100%;
  height: 90%;
  background-image: url(/images/pfpcate.jpg);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
}
#ill11 {
  width: 100%;
  height: 90%;
  background-image: url(/images/family.png);
  background-position: center; 
  background-size: contain;
  background-repeat: no-repeat;
  cursor: default;
}


/*** Individual Work Content
–––––––––––––––––––––––––––––––––––––––––––– ***/
.indcont {
  padding: 5%;
}

#indh2 {
  margin-left: 10%;
}

#indh2sub {
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 20px;
  font-size: 2rem;
}

#indh3 {
  margin-left: 11%;
}

.ind_header {
  width: 100%;
  height: 93vh;
  margin: 0 0% 10px 0%;
  object-fit: cover;
}

.ind_down {
  width: 100vw;
  padding: 0 50%;
}

.fa-angle-down {
  width: 100vw;
  text-align: center;
  font-size: 4rem;
  color:#FFB75D;
  /* text-shadow: 2px 1px 3px #000000; */
  margin-top: -100px;
  position: absolute;
  animation: flash 5s infinite;
}
@keyframes flash {
  from,
  0%,
  to {
    opacity: 1;
  }

  
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.indcont p {
  padding: 0 10%;
}

#smol {
  padding-right: 30%;
}

#smoller {
  padding-right: 40%;
}

.link {
  color: #FF7F5D;
}

.indimages {
  width: 90%;
  height: 10%;
  margin: 4%;
}

.indimages2 {
  width: 100%;
}

.indimages3 {
  width: 50%;
  height: 30vh;
  object-fit: cover;
}

.indimages4 {
  width: 50%;
  height: 60vh;
  object-fit: cover;
  float: right;
}

.indimagesside {
  width: 35%;
  height: 40vh;
  float: right;
  object-fit: cover;
  margin-top: 9%;
}

.floatingimg {
  width: 50%;
  height: 10%;
  margin: 0 25%;
  box-shadow: 1px 1px 10px grey;
}


/*** About Content
–––––––––––––––––––––––––––––––––––––––––––– ***/
.aboutcont {
  margin: 0% 10%;
}

.aboutme {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding-bottom: 10%;
  /* border-bottom: #ff6b6b 1px solid; */
}

.col1 {
  -ms-flex: 60%;
  flex: 60%;
  padding: 0 5% 0 0;
}

.col2 {
  -ms-flex: 40%;
  flex: 40%;
  margin-top: -30%;
  z-index: -1;
}

.aboutimg1 {
  width: 65%;
  max-height: 30em;
  margin: 5% 0 0 0;
  border: #ffffff 10px solid;
  border-left: none;
  object-fit: cover;
}

.aboutimg2 {
  width: 100%;
  float: right;
}

.moreabout {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 10% 0;
}


/*** Footer
–––––––––––––––––––––––––––––––––––––––––––– ***/
.bottomnav {
  width: 100vw;
  padding: 2% 10%;
  border-top: 1px solid #ebebeb;
  background-color: #ffffff;
}

.bottomnav a {
  color: #424242;
  margin-right: 20px;
}

.links a{
  color: #424242;
  margin-right: 20px;
}


/*** MOBILE
–––––––––––––––––––––––––––––––––––––––––––– ***/

@media screen and (min-width: 100px) and (max-width: 900px) {

.logonav {
  width: 20%;
}
.fa-angle-down {
  display: none;
}
.galleryrow {
  height: 1000px;
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.galleryslot {
  -ms-flex: 100%;
  flex: 100% !important;
}
.galleryslotw {
  -ms-flex: 100%;
  flex: 100% !important;
}
.bottomnav {
  width: 100vw;
}
.images {
  background-size: contain !important;
  background-repeat: no-repeat;
}

}

@media screen and (min-width: 100px) and (max-width: 800px) {
#topape {
  font-size: 1rem;
}

.logonav {
  width: 100%;
}

.navbar-brand {
  width: 15%;
  padding: 0;
}

.navbar-toggler {
  width: 10px;
}


.navbar-light .navbar-toggler {
  border: none;
  color: #FF7F5D;
  padding: 0;
}

.main {
  padding-top: 6%;
  margin-bottom: 10em;
}

.display-4 {
  font-size: 3.5em;
}

.boldape {
  font-size: 3.5rem;
}

.ind_header {
  height: 200px;
}

.aboutcont {
  margin: 0 0;
}

.aboutimg1 {
  width: 100%;
  margin: 0;
  border: none;
}

.col1 h2 {
  padding-top: 1em;
}

.col1 {
  padding: 0 10%;
  position: relative;
}

.col2 {
  /* display: none; */
  margin-top: 3em;
}


#smol {
  padding: 0 10%;
}
#smoller {
  padding: 0 10%;
}
.indimagesside {
  width: 90%;
  margin: 5% 5% -5% 5%;
  float: none;
}


}


@media screen and (min-width: 100px) and (max-width: 400px) {
.logonav {
  width: 25%;
}

.navbar-brand {
  width: 100%;
}
  
.navbar-toggler {
  width: 100%;
  height: 2em;
  padding: 10em;
}

}